.background-style {
	// height: 50%;
	background: linear-gradient(180deg, #feb4b4, #ff5e5e 100%);
}

.blog-style {
	display: flex;
	justify-content: center;
}

.blogs {
	font-family: "DIN Condensed";
	position: relative;
	letter-spacing: 3px;
	color: white;
	text-align: center;
	padding: 0.5em;
	margin-top: 1em;
	font-size: 3rem;
	font-weight: 700;
	background: black;
	width: 50%;
	border-radius: 2%;
	opacity: 0.8;
	text-align: center;
	border: 3px solid white;
	box-shadow: 3px 10px 30px 5px rgba(0, 0, 0, 0.6);
}

.blogs:hover {
	color: #ff5757;
}

.blog-images {
	justify-content: center;
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
}

.image-container {
	box-shadow: 3px 10px 30px 5px rgba(0, 0, 0, 0.6);
	display: flex;
	width: 40%;
	height: 60%;
	background: black;
	border-radius: 10%;
	border: 3px solid black;
	margin: 10px;
}

@media only screen and (min-width: 880px) {
	.image-container {
		width: 20%;
		height: 30%;
	}
}
