.background-style {
	background: linear-gradient(180deg, #feb4b4, #ff5e5e 100%);
}

.blog-banner {
	width: 80%;
	margin-left: 10%;
	margin-top: 5%;
	border: 2px solid black;
	border-radius: 1%;
	box-shadow: 3px 10px 30px 5px rgba(0, 0, 0, 0.6);
}

.blog-images {
	justify-content: center;
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
}

.image-container {
	box-shadow: 3px 10px 30px 5px rgba(0, 0, 0, 0.6);
	display: flex;
	width: 20%;
	height: 30%;
	background: black;
	border-radius: 10%;
	border: 3px solid black;
	margin: 10px;
}

@media only screen and (max-width: 590px) {
	.image-container {
		width: 30%;
		height: 40%;
	}
}
