@font-face {
	font-family: "DIN Condensed";
	src: url(`../styles/fonts/DIN\Condensed\Bold.ttf`);
}

.info-box {
	display: flex;
	justify-content: center;
}

.info {
	font-family: "DIN Condensed";
	position: relative;
	z-index: 1;
	letter-spacing: 3px;
	color: white;
	text-align: center;
	padding: 0.5em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	font-size: 3rem;
	font-weight: 700;
	background: black;
	width: 50%;
	border-radius: 2%;
	opacity: 0.8;
	text-align: center;
	border: 3px solid white;
	box-shadow: 3px 10px 30px 5px rgba(0, 0, 0, 0.6);
}

.info {
	@media screen and (max-width: 850px) {
		font-size: 1.5em;
	}
}

.info {
	@media screen and (max-width: 460px) {
		font-size: 1.2em;
	}
}

.info:hover {
	color: #ff5757;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	background: linear-gradient(180deg, #ff5e5e, #feb4b4 100%);
}

.column {
	display: flex;
	justify-content: center;
	width: 100%;
	@media screen and (min-width: 1080px) {
		width: 33.33333333333333%;
	}
}

.card {
	border: 3px solid black;
	display: flex;
	width: 80%;
	height: 90%;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 2em;
	background-color: #fff;
	box-shadow: 3px 10px 30px 5px rgba(0, 0, 0, 0.6);
	transition: box-shadow 0.5s;
	will-change: transform;
}

.card div:hover {
	color: #ff5757;
}

.card-title {
	font-family: "DIN Condensed";
	color: black;
	font-size: 2.5em;
	font-weight: 600;
	@media screen and (max-width: 1090px) {
		font-size: 1.5em;
	}
}

.card-body {
	font-family: "DIN Condensed";
	color: black;
	// line-height: 1.5;
	font-size: 1.5em;
	@media screen and (max-width: 1090px) {
		font-size: 1em;
	}
}
