@font-face {
	font-family: "DIN Condensed";
	src: url(`../styles/fonts/DIN\Condensed\Bold.ttf`);
}

.clients-bg {
	display: flex;
	justify-content: center;
	background: linear-gradient(180deg, #ff5e5e, #feb4b4 100%);
}

.clients {
	box-shadow: 3px 10px 30px 5px rgba(0, 0, 0, 0.6);
	width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 2rem;
	margin-right: 2rem;
	background: black;
	opacity: 0.8;
	text-align: center;
	height: 25em;
	border: 3px solid white;
	border-radius: 1%;
}

@media only screen and (max-width: 1050px) {
	.clients {
		height: 17em;
	}
}

@media only screen and (max-width: 850px) {
	.clients {
		height: 12em;
	}
}

@media only screen and (max-width: 665px) {
	.clients {
		height: 8em;
	}
}

.clients-header {
	margin-top: 1em;
	margin-left: 1em;
	margin-right: 1em;
	color: white;
	font-family: "DIN Condensed";
	font-size: 3rem;
}

.clients-header:hover {
	color: #ff5757;
}

@media only screen and (max-width: 1050px) {
	.clients-header {
		font-size: 2em;
	}
}

@media only screen and (max-width: 850px) {
	.clients-header {
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 665px) {
	.clients-header {
		font-size: 1em;
	}
}

.clients-image {
	width: 10em;
}

@media only screen and (max-width: 1050px) {
	.clients-image {
		width: 8em;
	}
}

@media only screen and (max-width: 850px) {
	.clients-image {
		width: 6em;
	}
}

@media only screen and (max-width: 665px) {
	.clients-image {
		width: 4em;
	}
}

@media only screen and (max-width: 500px) {
	.clients-image {
		width: 3em;
	}
}
